/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
}

button {
  margin-right: 10px;
  min-width: 85px;
}
